@import url(//db.onlinewebfonts.com/c/7ff156862c7f9569455874115efe100a?family=Monotype+Baskerville+eText);

$font: 1.08em;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

html, body {
    font-family: Monotype Baskerville eText;
    background-color: white;
}
//Menu de navegação------------------------------------//
#navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 100px;
    margin: -117px 30px 0px 30px;

    #logo {
        img {
            width: 110px;
        }
    }

    #menu {
        #menu-hamburguer {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
            //width: 450px;
    
            li {
                list-style: none;
                cursor: pointer;
                color: white;
                font-size: $font + 0.1;
                margin-left: 20px;

                &:hover {
                    color: rgb(46, 46, 46);
                    transition: 0.1s;
                }
            }
        }
    }
}

#linha-1 {
    position: relative;
    top: 75px;
}
//Primeiro Background----------------------------------//
#bg-1 {
    background-image: url("/Image/04.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: white;
        font-weight: 100;
        font-size: clamp(4em, 4vw, 7em);
        position: relative;
        bottom: 50px;
        text-align: center;
        width: max(700px, 50vw);
    }

    p {
        color: white;
        text-align: center;
        position: relative;
        bottom: 30px;
        font-size: clamp(25px, 1.5vw, 4vw);
    }

    button {
        width: 100px;
        height: 35px;
        position: relative;
        background: rgba(0, 0, 0, 0.541);
        border: 1px solid white;
        color: white;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            background: rgb(0, 0, 0);
        }
    }
}

#bg-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #texto-1 {
        h1 {
            font-weight: 100;
            text-align: center;
            font-size: $font + 1.5;
            margin: 30px 0px 30px 0px;
        }
    }

    #quadrados {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0px 145px 0px 145px;

        .quad {
            width: 200px;
            height: 200px;
            border: 1px solid black;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-size: $font;
            font-weight: bold;
            transition: 0.3s;

            img {
                width: 100px;
            }
        }

        .quad-oculto {
            display: none;
        }
    }

    #quad-botao {
        align-self: center;
        position: relative;
        bottom: 30px;
        margin-top: 30px;

        button {
            width: 100px;
            height: 35px;
            position: relative;
            background: transparent;
            border: 1px solid black;
            color: black;
            cursor: pointer;
            transition: 0.2s;
    
            &:hover {
                background: rgba(0, 0, 0, 0.39);
            }
        }

        #ver-menos {
            display: none;
        }
    }

    #texto-2 {
        h1 {
            font-weight: 100;
            text-align: center;
            font-size: $font + 1.5;
            margin: 50px 0px 90px 0px;
        }
    }

    #album {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0px 100px 100px 100px;

        img {
            width: 350px;
            margin: 7px 10px 7px 10px;
        }
    }
}

#bg-3 {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-image: url('/Image/01.jpg');
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    #texto-3 {
        margin-bottom: 20px;

        h1 {
            color: white;
            font-weight: 100;
            font-size: $font + 1.7;
        }
    }

    #botao-bg3 {
        button {
            width: 100px;
            height: 35px;
            position: relative;
            background: rgba(0, 0, 0, 0.541);
            border: 1px solid white;
            color: white;
            cursor: pointer;
            transition: 0.2s;
    
            &:hover {
                background: rgb(0, 0, 0);
            }
        }
    }
}

#bg-4 {
    width: 100%;
    height: 100%;
    background-color: #222529;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    #img-footer {
        align-self: center;
        margin-top: 20px;

        img {
            width: 50px;
        }
    }

    #nome-estabelecimento {
        align-self: center;
        margin-top: -15px;
        h1 {
            color: white;
            font-weight: 100;
            font-size: $font + 1;
        }
    }

    #tabela {
        display: flex;
        justify-content: space-between;
        margin: 0px 50px 0px 50px;

        #redes-sociais-geral {
            display: flex;
            flex-direction: column;

            #titulo-redes-sociais {
                margin-bottom: 20px;

                h1 {
                    color: white;
                    font-weight: 100;
                    font-size: clamp(10px, 2.5vw, 5vw);
                }
            }
            
            #redes-sociais {
                display: flex;
    
                #icones {
                    margin-right: 10px;
                    display: flex;
                    flex-direction: column;
    
                    img {
                        margin-bottom: 5px;
                        filter: invert(100%);
                        width: clamp(15px, 1.3vw, 2vw);
                    }
                }
    
                #texto-redes {
                    display: flex;
                    flex-direction: column;
                    
                    span {
                        color: white;
                        margin-bottom: 5px;
                        font-size: clamp(13px, 1.1vw, 2vw);
                    }
                }
            }
        }

        #contato {
            #titulo-contatos {
                margin-bottom: 20px;

                h1 {
                    color: white;
                    font-weight: 100;
                    font-size: clamp(10px, 2.5vw, 5vw);
                }
            }

            #contatos {
                display: flex;
                flex-direction: column;

                span {
                    color: white;
                    margin-bottom: 10px;
                    font-size: clamp(13px, 1.1vw, 2vw);
                }
            }
        }

        #linha-1 {
            height: 200px;
            border-left: 1px solid white;
            margin-top: -75px;
        }

        #logo-footer {
            img {
                width: 250px;
                position: relative;
                bottom: 30px;
                right: 35px;
            }
        }

        #linha-2 {
            height: 200px;
            border-left: 1px solid white;
            position: relative;
            right: 50px;
        }
    }

    #hr-2 {
        position: relative;
        bottom: 55px;
        margin-bottom: 50px;
    }
}