@import url(//db.onlinewebfonts.com/c/7ff156862c7f9569455874115efe100a?family=Monotype+Baskerville+eText);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

html, body {
  font-family: Monotype Baskerville eText;
  background-color: white;
}

#navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 100px;
  margin: -117px 30px 0px 30px;
}
#navegacao #logo img {
  width: 110px;
}
#navegacao #menu #menu-hamburguer {
  display: none;
}
#navegacao #menu ul {
  display: flex;
  justify-content: space-evenly;
}
#navegacao #menu ul li {
  list-style: none;
  cursor: pointer;
  color: white;
  font-size: 1.18em;
  margin-left: 20px;
}
#navegacao #menu ul li:hover {
  color: rgb(46, 46, 46);
  transition: 0.1s;
}

#linha-1 {
  position: relative;
  top: 75px;
}

#bg-1 {
  background-image: url("/Image/04.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#bg-1 h1 {
  color: white;
  font-weight: 100;
  font-size: clamp(4em, 4vw, 7em);
  position: relative;
  bottom: 50px;
  text-align: center;
  width: max(700px, 50vw);
}
#bg-1 p {
  color: white;
  text-align: center;
  position: relative;
  bottom: 30px;
  font-size: clamp(25px, 1.5vw, 4vw);
}
#bg-1 button {
  width: 100px;
  height: 35px;
  position: relative;
  background: rgba(0, 0, 0, 0.541);
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
#bg-1 button:hover {
  background: rgb(0, 0, 0);
}

#bg-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#bg-2 #texto-1 h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.58em;
  margin: 30px 0px 30px 0px;
}
#bg-2 #quadrados {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px 145px 0px 145px;
}
#bg-2 #quadrados .quad {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.08em;
  font-weight: bold;
  transition: 0.3s;
}
#bg-2 #quadrados .quad img {
  width: 100px;
}
#bg-2 #quadrados .quad-oculto {
  display: none;
}
#bg-2 #quad-botao {
  align-self: center;
  position: relative;
  bottom: 30px;
  margin-top: 30px;
}
#bg-2 #quad-botao button {
  width: 100px;
  height: 35px;
  position: relative;
  background: transparent;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}
#bg-2 #quad-botao button:hover {
  background: rgba(0, 0, 0, 0.39);
}
#bg-2 #quad-botao #ver-menos {
  display: none;
}
#bg-2 #texto-2 h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.58em;
  margin: 50px 0px 90px 0px;
}
#bg-2 #album {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 100px 100px 100px;
}
#bg-2 #album img {
  width: 350px;
  margin: 7px 10px 7px 10px;
}

#bg-3 {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-image: url("/Image/01.jpg");
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
#bg-3 #texto-3 {
  margin-bottom: 20px;
}
#bg-3 #texto-3 h1 {
  color: white;
  font-weight: 100;
  font-size: 2.78em;
}
#bg-3 #botao-bg3 button {
  width: 100px;
  height: 35px;
  position: relative;
  background: rgba(0, 0, 0, 0.541);
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
#bg-3 #botao-bg3 button:hover {
  background: rgb(0, 0, 0);
}

#bg-4 {
  width: 100%;
  height: 100%;
  background-color: #222529;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
#bg-4 #img-footer {
  align-self: center;
  margin-top: 20px;
}
#bg-4 #img-footer img {
  width: 50px;
}
#bg-4 #nome-estabelecimento {
  align-self: center;
  margin-top: -15px;
}
#bg-4 #nome-estabelecimento h1 {
  color: white;
  font-weight: 100;
  font-size: 2.08em;
}
#bg-4 #tabela {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
}
#bg-4 #tabela #redes-sociais-geral {
  display: flex;
  flex-direction: column;
}
#bg-4 #tabela #redes-sociais-geral #titulo-redes-sociais {
  margin-bottom: 20px;
}
#bg-4 #tabela #redes-sociais-geral #titulo-redes-sociais h1 {
  color: white;
  font-weight: 100;
  font-size: clamp(10px, 2.5vw, 5vw);
}
#bg-4 #tabela #redes-sociais-geral #redes-sociais {
  display: flex;
}
#bg-4 #tabela #redes-sociais-geral #redes-sociais #icones {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
#bg-4 #tabela #redes-sociais-geral #redes-sociais #icones img {
  margin-bottom: 5px;
  filter: invert(100%);
  width: clamp(15px, 1.3vw, 2vw);
}
#bg-4 #tabela #redes-sociais-geral #redes-sociais #texto-redes {
  display: flex;
  flex-direction: column;
}
#bg-4 #tabela #redes-sociais-geral #redes-sociais #texto-redes span {
  color: white;
  margin-bottom: 5px;
  font-size: clamp(13px, 1.1vw, 2vw);
}
#bg-4 #tabela #contato #titulo-contatos {
  margin-bottom: 20px;
}
#bg-4 #tabela #contato #titulo-contatos h1 {
  color: white;
  font-weight: 100;
  font-size: clamp(10px, 2.5vw, 5vw);
}
#bg-4 #tabela #contato #contatos {
  display: flex;
  flex-direction: column;
}
#bg-4 #tabela #contato #contatos span {
  color: white;
  margin-bottom: 10px;
  font-size: clamp(13px, 1.1vw, 2vw);
}
#bg-4 #tabela #linha-1 {
  height: 200px;
  border-left: 1px solid white;
  margin-top: -75px;
}
#bg-4 #tabela #logo-footer img {
  width: 250px;
  position: relative;
  bottom: 30px;
  right: 35px;
}
#bg-4 #tabela #linha-2 {
  height: 200px;
  border-left: 1px solid white;
  position: relative;
  right: 50px;
}
#bg-4 #hr-2 {
  position: relative;
  bottom: 55px;
  margin-bottom: 50px;
}/*# sourceMappingURL=style.css.map */